:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #000;
  --color-body: #fff;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
::selection {
  background: #0062ff;
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color-body);
  padding-top: 5.6rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: bold;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.uiuc--orange {
  color: #ff5f0f;
}

/* Icons */
.icon {
  width: 4rem;
  height: 4rem;
}

/* List */
.list {
  list-style: none;
  padding-left: 0;
}

/* Grid */
.grid {
  display: grid;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid--1x2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (min-width: 950px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1215px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1500px) {
  .grid--1x4 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Collapsibles */
.collapsible__chevron {
  transform: rotate(0);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  background: #dbdfe4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
}

.nav__item > a {
  color: #000;
  font-weight: bold;
  transition: color 0.2s;
}

.nav__item > a:hover {
  color: #538df3;
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
}

/* Homepage */
.homepage {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4.5rem;
}

.homepage .img--selfie {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-top: 4rem;
}

.homepage__content h1 {
  color: #f8f9fa;
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 1;
}
.homepage__content .hi-qi-yu {
  margin-bottom: 0;
}
.homepage__content .cs-student {
  margin-top: 0.5rem;
}

.homepage__content p {
  color: #f8f9fa;
  letter-spacing: 0.5px;
  margin: 3rem 2rem 0 2rem;
}

.resume--button {
  color: #fff;
  background-color: #0080ff;
  font-weight: 500;
  font-size: 2rem;

  display: block;
  text-align: center;

  margin: 3rem 15% 1rem 15%;
  padding: 1rem 3rem 1rem 3rem;
  border: 0.2rem solid #0080ff;
  border-radius: 1rem;
  transition: all 0.2s;
  transition-property: color, background-color, opacity, border-color;
  cursor: pointer;
}

.resume--button:hover {
  background-color: #4ca5ff;
  border-color: #4ca5ff;
}

@media screen and (min-width: 768px) {
  .homepage {
    text-align: left;
    padding-bottom: 13rem;
  }

  .homepage .img--selfie {
    margin: 12vh 0 1rem 16vw;
    width: 20rem;
    height: 20rem;
  }

  .homepage__content h1 {
    font-size: 4.2rem;
    margin-left: 8vw;
    margin-right: 30%;
  }

  .homepage__content p {
    font-size: 2.2rem;
    margin-left: 8vw;
    margin-right: 50%;
    margin-top: 6rem;
  }

  .resume--button {
    margin: 6.5rem 67% 0 12vw;
  }
}

@media screen and (min-width: 1600px) {
  .homepage {
    padding-bottom: 18rem;
  }

  .homepage .img--selfie {
    margin: 12rem 0 1.5rem 35rem;
    width: 24rem;
    height: 24rem;
  }

  .homepage__content h1 {
    font-size: 5rem;
    margin-left: 18rem;
    line-height: 1.2;
  }

  .homepage__content p {
    font-size: 2.6rem;
    margin-left: 18rem;
  }

  .resume--button {
    margin: 6.5rem 66% 0 15.5vw;
  }
}

/* About Me */
.about-me {
  background-color: #fafafa;
  padding: 4.2rem 0 4.2rem 0;
}

.about-me h1 {
  margin: 0 0 0;
  padding: 0 0 2.4rem;
  text-align: center;
}

.about-me h2 {
  color: #93b8c3;
}

.introduction h2 {
  margin: 0 0 0 3rem;
}

.education h2 {
  margin: 2.4rem 0 0 3rem;
}

.tech-stacks h2 {
  margin: 2rem 0 0 3rem;
}

.introduction p {
  color: #5b5e61;
  font-size: 1.5rem;
}

.introduction p {
  margin: 1rem 3rem 0 3rem;
}

.education ul {
  padding-left: 0;
  margin: 1rem 0 0 0;
}

/* Education Item */
.education__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 3rem;
}

.education__item img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem 0 1rem 3rem;
}

.education__body h3 {
  color: #22272f;
  font-size: 1.8rem;
  margin: 0.5rem 0 0 1.5rem;
}

.education__body ul {
  padding-left: 3rem;
  margin-top: 0;
}

.education__body li {
  color: #5b5e61;
  font-size: 1.5rem;
}

/* Tech Stack */
.tech-stacks__item {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0 0 0.8rem 0.1rem #8ba2c7;
  border-radius: 0.3rem;
}

.card__icon {
  width: 10vw;
  height: 10vw;
  margin: 0.8rem 1rem 0.8rem 1rem;
}

.tech-stacks__item h3 {
  color: #22272f;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 6rem 0 6rem;
  }

  .about-me h1 {
    font-size: 4.2rem;
    padding-top: 0;
  }

  .introduction h2 {
    font-size: 3.2rem;
    margin-left: 12rem;
  }

  .introduction p {
    font-size: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .education h2 {
    font-size: 3.2rem;
    margin: 3rem 0 1rem 12rem;
  }

  .education__item img {
    width: 12rem;
    height: 12rem;
    margin: 1rem 0 1rem 12rem;
  }

  .education__body h3 {
    font-size: 2.4rem;
    margin-top: 0;
  }

  .education__body li {
    font-size: 2rem;
  }

  .tech-stacks h2 {
    font-size: 3.2rem;
    margin: 3rem 0 1rem 12rem;
  }

  .card__icon {
    width: 7rem;
    height: 7rem;
    margin: 1.2rem 1.5rem 1.2rem 1.5rem;
  }

  .tech-stacks__item h3 {
    font-size: 2rem;
  }

  .tech-stacks__item {
    margin: 1.5rem 2.5rem 1.5rem 2.5rem;
  }

  .grid {
    margin-left: 10.5rem;
    margin-right: 10.5rem;
  }
}

/* Projects */
.projects {
  background-color: #edeff4;
  padding: 4.2rem 0 4.2rem 0;
}

.projects h1 {
  margin: 0 0 0;
  padding: 0 0 0;
  text-align: center;
}

.project__item {
  background-color: #fff;
  margin: 2.4rem 2rem 4rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project__item .block--img {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem;
  margin: 0 3rem 0 3rem;
  border-bottom: 0.2rem solid #d9d9d9;
}

.project__item .block--img img {
  height: 10rem;
  overflow: hidden;
  object-fit: cover;
}

.project__item--body {
  margin: 0 3rem 0 3rem;
  text-align: center;
}

.project__item--body h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project__item--body p {
  color: #8c939a;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

p.project__item--tech {
  color: #58a0f1;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 6rem 0 6rem;
  }

  .projects h1 {
    font-size: 4.2rem;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .project__item {
    display: flex;
    margin: 2.4rem 12rem 4rem 12rem;
  }

  .project__item .block--img {
    border-right: 0.2rem solid #d9d9d9;
    border-bottom: 0;
    margin: 2rem 0 2rem 0;
    padding: 0 3rem 0 3rem;
    align-items: center;
  }

  .project__item .block--img img {
    height: auto;
    width: 22rem;
  }

  .project__item--body {
    text-align: left;
  }

  .project__item--body h3 {
    font-size: 2.4rem;
    margin-top: 1.5rem;
  }

  .project__item--body p {
    font-size: 1.8rem;
  }
}

/* Publications */
.publications {
  background-color: #fafafa;
  padding: 4.2rem 0 4.2rem 0;
}

.publications h1 {
  margin: 0 0 0;
  padding: 0 0 0;
  text-align: center;
}

.publication__item {
  background-color: #e3ebf5;
  margin: 1rem 2rem 2rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.publication__item p {
  color: #091320;
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .publications {
    padding: 6rem 0 6rem;
  }

  .publications h1 {
    font-size: 4.2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .publication__item {
    margin: 1rem 12rem 4rem 12rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  .publication__item p {
    font-size: 2rem;
  }
}

/* Contact */
.contact {
  background-color: #edeff4;
  padding: 4.2rem 0 2.4rem 0;
}

.contact h1 {
  margin: 0 0 0;
  padding: 0 0 0;
  text-align: center;
}

.contact__body {
  margin-top: 1rem;
}

.contact__prompt {
  text-align: center;
  margin: 0 2rem 0rem 2rem;
}

.contact__prompt p {
  color: #447de8;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.contact__prompt--greeting {
  margin: 2rem 8rem 2rem 8rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.contact__prompt--greeting img {
  height: 15rem;
}

.social-accounts {
  display: flex;
  justify-content: center;
}

.social-accounts__item {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.social__icons {
  height: 4rem;
  width: 4rem;
}

.social__icons:hover {
  transform: scale(1.25);
  overflow: hidden;
}

.contact__message-box {
  margin: 3rem 5rem 1rem 5rem;
}

.contact__message-box label {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.message-box--textin input,
textarea {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.5rem;
  color: #0b1c31;
  line-height: 1.8rem;
}

::placeholder {
  color: #a3aba9;
  font-size: 1.5rem;
}

.message-box--button {
  text-align: center;
}

.message-box--button input {
  color: #0080ff;
  font-weight: 500;
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  width: 50%;
  padding: 1rem 3rem 1rem 3rem;
  background-color: #fff;
  border: 0.2rem solid #0080ff;
  border-radius: 1rem;
  transition: all 0.2s;
  transition-property: color, background-color, opacity, border-color;
  cursor: pointer;
}

.message-box--button input:hover {
  color: #fff;
  background-color: #0080ff;
}

.message-box--button input:active {
  opacity: 0.5;
}

.powered-by {
  color: #bfc2c5;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 6rem 0 8rem;
  }

  .contact h1 {
    font-size: 4.2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .contact__body {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .contact__prompt {
    margin: 0 0 0 0;
    padding: 0 6rem 0 12rem;
    width: 50%;
  }

  .contact__prompt p {
    font-size: 2.6rem;
  }

  .contact__prompt--greeting {
    margin: 3rem 2rem 3rem 2rem;
    padding-bottom: 2rem;
  }

  .contact__prompt--greeting img {
    height: auto;
    width: 15vw;
  }

  .social-accounts__item {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  .contact__message-box {
    margin: 0 0 0 0;
    padding: 0 12rem 0 6rem;
    width: 50%;
  }

  .button {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Footer */
.footer {
  background-color: #2a2727;
  text-align: center;
  padding: 2rem 0 2rem;
}

.footer p {
  margin-bottom: 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2.4rem 0 2.4rem;
  }

  .footer p {
    font-size: 1.8rem;
  }
}
